{% extends "LayoutApp/layout.html" %}

{% block title %}About Us - PageTurner Books{% endblock %}

{% block content %}
<h2>About PageTurner Books</h2>
<p>PageTurner Books has been serving book lovers since 1995. Our passion for literature drives us to curate an exceptional collection of books for our customers.</p>
<p>Our mission is to inspire, educate, and entertain through the power of the written word. We believe that books have the ability to change lives and broaden perspectives.</p>
<p>Visit us today and let our knowledgeable staff help you find your next great read!</p>
{% endblock %}
